{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="lancamentos-futuros">
    <h1>Lançamentos Futuros</h1>

    <div class="lancamentos-flex">
        <div>
            <h2> Código de Barras </h2>
            <img src="{% static 'img/codigo-de-barras.png' %}" alt="">
            <p> Inclusão dos produtos via código de barras </p>
            <h4>Em breve</h4>

        </div>
        <div>
            <h2> Código de Barras </h2>
            <img src="{% static 'img/codigo-de-barras.png' %}" alt="">
            <p> Inclusão dos produtos via código de barras </p>
            <h4>Em breve</h4>

        </div>
        <div>
            <h2> Código de Barras </h2>
            <img src="{% static 'img/codigo-de-barras.png' %}" alt="">
            <p> Inclusão dos produtos via código de barras </p>
            <h4>Em breve</h4>

        </div>

    </div>

</section>
{% endblock %}
